<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body {
        margin: 0;            /* Reset default margin */
    }
    iframe {
        display: block;       /* iframes are inline by default */
        border: none;         /* Reset default border */
        height: 100vh;        /* Viewport-relative units */
        width: 100vw;
    }
    </style>
    <title>/r/kpop Awards 2018</title>
</head>
<body>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeZ36uZDTaMZv-km_lup1jbvRBA4qknXSyg5Ff0TZ8EI-hDCg/viewform?usp=sf_link" frameborder="0">iframe is blocked by your browser, do something about it.</iframe>
</body>
</html>