<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body {
        margin: 0;            /* Reset default margin */
    }
    iframe {
        display: block;       /* iframes are inline by default */
        border: none;         /* Reset default border */
        height: 100vh;        /* Viewport-relative units */
        width: 100vw;
    }
    </style>
    <title>/r/kpop Gateway</title>
</head>
<body>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBk0zsqBb_CIzkdHbAv8wyawSBDZppoErdd4yBz9Kfp3jThw/viewform?usp=pp_url&entry.1883190678=<%= username %>" frameborder="0">iframe is blocked by your browser, do something about it.</iframe>
</body>
</html>